<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Strict//EN' 'http://www.w3.org/TR/html4/strict.dtd'>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<link href="/css/public.css" rel="stylesheet">
<title>在此插入标题</title>
</head>

<body class="oneColLiqCtrHdr">
<div id=container>
  <div id="header">
    <H3>鉴定信息</H3>
  </DIV>
  <DIV id="mainContent"><BR>
    <form action="/lt/updateAppra" method="POST" >
      <TABLE border=0 cellSpacing=1 cellPadding=6 width="100%" class="table">
        <TBODY>
          <TR>
            <TD width="50" align=right noWrap><strong>会员:</strong></TD>
            <TD th:text="${data.userName}">.2304</TD>
            <TD align=right><strong>类型：</strong></TD>
            <TD th:text="${data.stName}">留学中介</TD>
          </TR>

          <TR>
            <TD align=right noWrap>姓名：</TD>
            <TD th:text="${data.userRealName}">周钢</TD>
            <TD align=right>性别：</TD>
            <TD ><span th:if="${data.userSex==1}">男</span>
			<span th:if="${data.userSex==2}">女</span></TD>
          </TR>
          <TR>
            <TD align=right>签证类型：</TD>
            <TD ><span th:if="${data.identityType==1}">身份证</span>
            <span th:if="${data.identityType==2}">护照</span></TD>
            <TD align=right>证件号码：</TD>
            <TD th:text="${data.identityNumder}"></TD>
          </TR>
             <TR>
            <TD align=right noWrap>官方网址：</TD>
            <TD >http://www.hanting.com</TD>
            <TD align=right>&nbsp;</TD>
            <TD >&nbsp;</TD>
          </TR>
          
           <TR>
            <TD align=right noWrap>商家联系电话：</TD>
            <TD th:text="${data.merchantPhone}">1</TD>
            <TD align=right>商家邮箱</TD>
            <TD th:text="${data.merchantEmail}">&nbsp;</TD>
          </TR>
          <TR>
            <TD align=right>在韩工作时间：</TD>
            <TD >1～2年</TD>
            <TD align=right>&nbsp;</TD>
            <TD >&nbsp;</TD>
          </TR>
          <TR>
            <TD align=right noWrap>本人联系电话：</TD>
            <TD th:text="${data.userPhone}">15859969422</TD>
            <TD align=right>私人邮箱：</TD>
            <TD th:text="${data.contactMailbox}">932564614@qq.com</TD>
          </TR>
          <TR>
            <TD align=right>在韩住址：</TD>
            <TD colspan="3" >首尔特别市  中 区 sadssf</TD>
          </TR>
          <TR>
            <TD align=right>状态：</TD>
            <TD colspan="3" align="center">
            	<label>
                <input  type="radio" name="auditStatus" value="1" id="status_1" style="height:15px;"> 待审核</label><label>
                <input  type="radio" name="auditStatus" value="2" id="status_2" style="height:15px;">审核通过</label><label>
                <input  type="radio" name="auditStatus" value="3" id="status_3"style="height:15px;">审核不通过</label></TD>
          </TR>
          <TR>
            <TD align=right>管理员理由：</TD>
            <TD colspan="3" >
            <input type="hidden" th:value="${data.userID}" name="userID" />
            <textarea name="reason" id="admin_reason" cols="45" rows="5">[[${data.adminOpinion}]]</textarea></TD>
          </TR>
          
          <TR>
            <TD align=right>&nbsp;</TD>
            <TD colspan="3" >
            <input type="submit" class='ys' value="设置状态 " />
            <input type="button" class='ys' value="返回 " onClick="history.go(-1)"/>		
			</TD>
          </TR>
        </tbody>
      </table>
    </form>
    <p>&nbsp;</p>
  </div>
  
</div>
<script src="../js/jquery-1.12.4.js"></script>
<script type="text/javascript">
	$(function(){
		if([[${data.auditStatus}]]==1){
			$("#status_1").attr("checked","checked");
		}else if([[${data.auditStatus}]]==2){
			$("#status_2").attr("checked","checked");
		}else if([[${data.auditStatus}]]==3){
			$("#status_3").attr("checked","checked");
		}
	});
</script>
</body>

</html>