<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Strict//EN' 'http://www.w3.org/TR/html4/strict.dtd'>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<link href="/css/public.css" rel="stylesheet">
<title>在此插入标题</title>
</head>



<body class="oneColLiqCtrHdr">

<div id=container>
  <div id="header">
    <H3>提现申请</H3>
  </DIV>
  <DIV id="mainContent"><BR>
    <form action="" method="POST" name="form1" id="form10" target="main">
      <TABLE border=0 cellSpacing=1 cellPadding=6 width="100%" class="table">
        <TBODY>
          <TR>
            <TD width="89" align=right noWrap><strong>会员:</strong></TD>
            <TD width="300" >专揍小北墩</TD>
            <TD align=right>&nbsp;</TD>
            <TD >&nbsp;</TD>
          </TR>
		  <TR>
            <TD align=right noWrap>申请日期：</TD>
            <TD >2018-10-13 14:45:24</TD>
            <TD align=right>提现金额：</TD>
            <TD >10.00元</TD>
          </TR>
          <TR>
            <TD align=right>银行名称：</TD>
            <TD >中国建设银行</TD>
            <TD align=right>开户名：</TD>
            <TD >发大水</TD>
          </TR>
          <TR>
            <TD align=right noWrap>账号：</TD>
            <TD >430225199501202014</TD>
            <TD align=right>姓名：</TD>
            <TD >大</TD>
          </TR>		            <TR>
            <TD align=right>状态：</TD>
            <TD colspan="3" >
							交易成功            </TD>
          </TR>
          <TR>
            <TD align=right>备注：</TD>
            <TD colspan="3"><textarea name="remarks"  rows='3' cols='160' placeholder="请填入拒绝原因" style="width: 520px;height:60px;outline:none; border-radius:5px;"></textarea></TD>
          </TR>
          <TR>
            <TD align=right>&nbsp;</TD>
            <TD colspan="3" >
						<a href="javascript:;" onclick="history.go(-1)" class='ys'> 返回 </a>
			<input type="hidden" value="4037" name="id" />
			</TD>
          </TR>
        </tbody>
      </table>
    <input type="hidden" name="__hash__" value="22bc03014ea383381344ecf082a4823b_09ea4b73c9d1d789c0c8786fc51543d5" /></form>
    <p>&nbsp;</p>
  </div>
  
</div>
</body>

</html>