<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	
<BODY class=oneColLiqCtrHdr>
<DIV id=container>
    <DIV id=header>
        <H1>
				金币管理<BR>
		</H1>
                        <form method="post" name="searchform" action="">
            <TABLE border=0 class="tablesorter" cellSpacing=1 cellPadding=6 width="100%">
                <TBODY>
                <TR>
                    <TD >
                    用户名:<input name="name" type="text" id="name" size="15" maxlength="20" style="width: 120px;height:15px;outline:none; border-radius:5px;">
                                      <input type="submit" name="button" id="button" class="ys" value="搜索">
				  <input type="hidden" name="type" value="1" />
				  <input type="hidden" name="umid" value="" />
				  </TD>
                    
                    <TD >&nbsp;</TD>
                </TR>
                </TBODY>
            </TABLE>
        <input type="hidden" name="__hash__" value="840c74365516419cdf5af008f07973b1_f536f2fa323fbd0e5882c28a01e4976c" /></form>
    </DIV>
    <DIV id="mainContent"><BR>
        <FORM method=post name=form2 action="" id="listform">
            <TABLE id="itemlist" class="table" border=0 cellSpacing=1 cellPadding=6 width="100%">
                <THEAD>
                <TR>
                    <th width="10%">序号</th>
                    <TH width="10%" scope=col align=center>用户</TH>
                                        <TH width="80" scope=col align=center>类型</TH>
                    <TH width="10%" scope=col align=center>获取方式</TH>
                    <TH width="10%" align=center>消费</TH>
                    <TH width="10%" align=center>获得</TH>
                    <TH width="10%" align=center>状态</TH>
                    <TH width="10%" align=center>备注</TH>
                    <TH width="10%"  scope=col >消费时间</TH>
                </TR>
                </THEAD>
                <tbody>
                    <tr>
                        <td align="center">
                        1                        <input value="" type="checkbox" name="favid[]" style="display:none;">                        
                        </td>
                        <td align="center" nowrap><a href="/index.php/Admincp/user/edit/name/%22/id/319.html" target="_blank">"</a></td>
                                                <td align="center" nowrap>金币</td>
                        <td align="center" nowrap>预定服务</td>
                        <td align="center" nowrap>
                        -5.00                                                </td>
                        <td align="center" nowrap>
                                                -                        </td>
						<td align="center" nowrap>
                        完成                        </td>
                        <td align="center" nowrap>支付订单，订单号：15389154389092</td>
                        <td  nowrap>2018-10-07 20:31</td>

                   
												</tr>
                    </tbody><tbody>
                    <tr>
                        <td align="center">
                        2                        <input value="" type="checkbox" name="favid[]" style="display:none;">                        
                        </td>
                        <td align="center" nowrap><a href="/index.php/Admincp/user/edit/name/yuno4214/id/318.html" target="_blank">yuno4214</a></td>
                                                <td align="center" nowrap>金币</td>
                        <td align="center" nowrap>保证金</td>
                        <td align="center" nowrap>
                        -500.00                                                </td>
                        <td align="center" nowrap>
                                                -                        </td>
						<td align="center" nowrap>
                        完成                        </td>
                        <td align="center" nowrap>提交保证金</td>
                        <td  nowrap>2018-10-07 11:04</td>

                      
												</tr>
                    </tbody><tbody>
                    <tr>
                        <td align="center">
                        3                        <input value="" type="checkbox" name="favid[]" style="display:none;">                        
                        </td>
                        <td align="center" nowrap><a href="/index.php/Admincp/user/edit/name/%E5%B0%A7%E5%B0%A7/id/298.html" target="_blank">尧尧</a></td>
                                                <td align="center" nowrap>金币</td>
                        <td align="center" nowrap>充值</td>
                        <td align="center" nowrap>
                                                -                        </td>
                        <td align="center" nowrap>
                        +100000.00                                                </td>
						<td align="center" nowrap>
                        <font color="red">待审核</font>                        </td>
                        <td align="center" nowrap>充值金币</td>
                        <td  nowrap>2018-10-07 09:50</td>

                        
												</tr>
                    </tbody>             </TABLE>
            <TABLE id="itemlist" class="tablesorter" border=0 cellSpacing=1 cellPadding=6 width="100%">
                <TR>
                    <TH><div class="digg"><div>  <span class="current">1</span><a class="num" href="/index.php/Admincp/User/moneys/type/1/p/2.html">2</a><a class="num" href="/index.php/Admincp/User/moneys/type/1/p/3.html">3</a><a class="num" href="/index.php/Admincp/User/moneys/type/1/p/4.html">4</a><a class="num" href="/index.php/Admincp/User/moneys/type/1/p/5.html">5</a><a class="num" href="/index.php/Admincp/User/moneys/type/1/p/6.html">6</a><a class="num" href="/index.php/Admincp/User/moneys/type/1/p/7.html">7</a><a class="num" href="/index.php/Admincp/User/moneys/type/1/p/8.html">8</a><a class="num" href="/index.php/Admincp/User/moneys/type/1/p/9.html">9</a><a class="num" href="/index.php/Admincp/User/moneys/type/1/p/10.html">10</a><a class="num" href="/index.php/Admincp/User/moneys/type/1/p/11.html">11</a> <a class="next" href="/index.php/Admincp/User/moneys/type/1/p/2.html">下一页</a> <a class="end" href="/index.php/Admincp/User/moneys/type/1/p/146.html">146</a></div></div></TH>
              </TR>

          </TABLE>
</FORM>
        <H4>&nbsp;</H4><!-- end #mainContent --></DIV>
        <DIV id=footer>
        <P>&nbsp;</P><!-- end #footer --></DIV><!-- end #container --></DIV></BODY>
</html>
