<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/public.css" rel="stylesheet">
<title>商家管理</title>
</head>

<BODY class=oneColLiqCtrHdr>
	<DIV id=container>
		<DIV id=header>
			<H1>
				商家管理<BR>
			</H1>
			<form method="get" name="searchform" action="/lt/getShopList">
				<TABLE border=0 class="table" cellSpacing=1 cellPadding=6
					width="100%">
					<TBODY>
						<TR>
							<TD>用户昵称: <input name="userName" type="text"
								style="width: 120px; height: 15px; outline: none; border-radius: 5px;" />
								店铺名称: <input name="shopName" type="text"
								style="width: 120px; height: 15px; outline: none; border-radius: 5px;" />
								会员组: <label for="group_id"></label> <select name="merchantType"
								id="group_id"
								style="width: 120px; height: 20px; outline: none; border-radius: 5px;">
									<option value="">所有</option>
									<option value="1">大陆商家用户</option>
									<option value="2">海外商家用户</option>
							</select> <input type="hidden" name="p" value="1" />
								<input type="hidden" name="s" value="10" />
							 <input type="submit"
								class="ys" name="button" id="button" value="搜索"> <input
								type="submit" class="ys" name="export" id="button" value=" 导出 ">

							</TD>
							<TD>&nbsp;</TD>
						</TR>
					</TBODY>
				</TABLE>
			</form>
		</DIV>
		<DIV id="mainContent">
			<BR>
			<FORM method=post name=form2 action="" id="listform">
				<TABLE id="itemlist" class="table" border=0 cellSpacing=1
					cellPadding=6 width="100%">
					<THEAD>
						<TR>
							<!--
                    <th width="50">&nbsp;</th>
					-->
							<th width="8%" bgcolor="#ffffff">序号</th>
							<TH width="8%" align=center>用户昵称</TH>
							<TH width="8%" align=center>商铺名称</TH>
							<TH width="8%" scope=col align=center>会员组</TH>
							<TH width="8%" align=center>邮箱</TH>
							<TH width="8%" align=center>积分</TH>
							<TH width="8%" align=center>金币</TH>
							<TH width="8%" align=center>邮箱验证</TH>
							<TH width="8%" align=center>审核</TH>
							<TH width="8%" align=center>状态</TH>
							<TH width="8%" align=center scope=col>电话</TH>
							<TH width="8%" align=center>最后登录时间</TH>
							<TH>操作</TH>
						</TR>
					</THEAD>
					<tbody>
						<tr th:each="temp,iterState:${PAGE_INFO.list}">
							<td align="center" bgcolor="#ffffff">[[${iterState.count}]]</td>
							<td align="center" nowrap th:text="${temp.userName}">cop7667</td>
							<td align="center" nowrap th:text="${temp.shopName}">yuno</td>
							<td align="center" nowrap><span th:if="${temp.merchantType==0}">普通会员</span>
								<span th:if="${temp.merchantType==1}">大陆商家用户</span> <span
								th:if="${temp.merchantType==2}">海外商家用户</span></td>
							<td align="center" nowrap th:text="${temp.merchantEmail}"></td>
							<td align="center" th:text="${temp.userIntegral}"></td>
							<td align="center" th:text="${temp.userMoney}"></td>
								<td align="center"><span th:if="${temp.mailboxVerification==true}" style="color:green">已验证</span>
								<span th:if="${temp.mailboxVerification==false}">未验证</span></td>
							<td align="center"><span th:if="${temp.auditStatus==1}">待审核</span>
								<span th:if="${temp.auditStatus==2}" style="color:green">已通过</span> <span
								th:if="${temp.auditStatus==3}" style="color:red">未通过</span></td>
							<td align="center" nowrap><span th:if="${temp.businessState==1}" style="color:green">营业</span>
								<span th:if="${temp.businessState==2}">暂停</span> <span
								th:if="${temp.businessState==3}" style="color:red">关闭</span></td>
							<td align="center" nowrap th:text="${temp.userPhone}">17716790037</td>
							<td align="center" nowrap th:text="${#dates.format(temp.recentEntry,'yyyy-MM-dd HH:mm')}">2018-10-07 09:32</td>
							<td nowrap><a
								th:href="@{/lt/queryVipByID(userID=${temp.userID})}">查看</a>
							</td>
						</tr>
						<tfoot>
						<tr>
							<th colspan="14"><a
								th:href="@{/lt/getShopList(p=1,s=${PAGE_INFO.pageSize},userName=${userName},shopName=${shopName},merchantType=${merchantType})}">首页</a>
								&nbsp;&nbsp; <a th:if="${PAGE_INFO.isHasPreviousPage()}"
								th:href="@{/lt/getShopList(p=${PAGE_INFO.prePage},s=${PAGE_INFO.pageSize},userName=${userName},shopName=${shopName},merchantType=${merchantType})}">上一页</a>
								&nbsp;&nbsp; <a th:if="${PAGE_INFO.isHasNextPage()}"
								th:href="@{/lt/getShopList(p=${PAGE_INFO.nextPage},s=${PAGE_INFO.pageSize},userName=${userName},shopName=${shopName},merchantType=${merchantType})}">下一页</a>
								&nbsp;&nbsp; <a
								th:href="@{/lt/getShopList(p=${PAGE_INFO.lastPage},s=${PAGE_INFO.pageSize},userName=${userName},shopName=${shopName},merchantType=${merchantType})}">末页</a>
							</th>
						</tr>
					</tfoot>
				</TABLE>
		

			</FORM>
			<H4>&nbsp;</H4>
			<!-- end #mainContent -->
		</DIV>
		<DIV id=footer>
			<P>&nbsp;</P>
			<!-- end #footer -->
		</DIV>
		<!-- end #container -->
	</DIV>
</BODY>
</html>
