<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Strict//EN' 'http://www.w3.org/TR/html4/strict.dtd'>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<link href="/css/public.css" rel="stylesheet">
<title>会员信息</title>
</head>

<body class="oneColLiqCtrHdr">
<div id=container>
  <div id="header">
    <H3>会员信息</H3>
  </DIV>
  <DIV id="mainContent"><BR>
    <form action="/lt/updateShopVip" method="POST" enctype="multipart/form-data" name="form1" id="form10">
      <TABLE border=0 cellSpacing=1 cellPadding=6 width="100%" class="table">
        <TBODY>
          <TR>
            <TD width="18%" align=right noWrap><strong>会员组:</strong></TD>
            <TD  width="32%" noWrap>
			<span th:if="${data.merchanttype==1}">大陆商家用户</span> <span
			th:if="${data.merchanttype==2}">海外商家用户</span>
            </TD>
            <TD width="18%" noWrap align=right>&nbsp;</TD>
            <TD width="32%" noWrap>&nbsp;</TD>
          </TR>
          <TR>
            <TD  align=right noWrap>用户名:</TD>
            <TD th:text="${data.username}">yuno4214</TD>
            <TD  align=right></TD>
            <TD  ></TD>
          </TR>
          <TR>
            <TD align=right noWrap>手机:</TD>
            <TD ><input name="userphone" type="text" class="" id="mobile" th:value="${data.userphone}" maxlength="13" style="width: 120px;height:15px;outline:none; border-radius:5px;"></TD>
            <TD align=right>邮箱:</TD>
            <TD >			<!--
			<input name="email" type="text" id="email" value="" size=40  class="validate[required,custom[email]]">
			-->
			</TD>
          </TR>
          <TR>
            <TD align=right>真实姓名:</TD>
            <TD ><input name="userrealname" type="text" id="truename" th:value="${data.userrealname}" size=20  class="" style="width: 120px;height:15px;outline:none; border-radius:5px;"></TD>
            <TD align=right>性别:</TD>
            <TD >
              <label>
                <input name="usersex" type="radio" id="nan" value="1" >男</label>
              <label>
                <input type="radio" name="usersex" value="2" id="nv">女</label>
            </TD>
          </TR>
          <TR>
            <TD align=right>住址:</TD>
            <TD colspan="3"  ><select th:value="${data.country}" class="sel_f sel_f2 sel_b2" name="country" style="width: 120px;height:20px;outline:none; border-radius:5px;">
					<option value="399" >中国</option><option value="400" selected>韩国</option><option value="1023" >测试地址</option>				
					</select>
				<select th:value="${data.provincialid}" class="sel_f sel_f2 sel_b2" name="provincialid" id="shengid" style="width: 120px;height:20px;outline:none; border-radius:5px;">
					<option value="0">省</option>
				</select>
			  <select th:value="${data.cityid}" class="sel_f sel_f2 sel_b2" name="cityid" id="areaid"  style="width: 120px;height:20px;outline:none; border-radius:5px;">
					<option value="0">市</option>
                    </select>
				<input name="addetail" type="text" class="input_c inf_inc" id="address" th:value="${data.addetail}" size="50"style="width: 200px;height:15px;outline:none; border-radius:5px;"/>
            </TD>
          </TR>
        </tbody>
      </table>
	  <TABLE border=0 cellSpacing=1 cellPadding=6 width="100%" class="tablesorter">
        <TBODY>
          <TR>
            <TD width="18%" align=right><strong>商家信息</strong></TD>
            <TD width="32%">&nbsp;</TD>
            <TD width="18%"  align=right>&nbsp;</TD>
            <TD width="32%">&nbsp;</TD>
          </TR>
			<TR>
			  <TD noWrap align=right>店铺名称:</TD>
			  <TD th:text="${data.shopname}">1</TD>
			  <TD align="right">保证金:</TD>
		
        <TD >[[${data.guaranteemoney}]] &nbsp;<input id="kbzj" type="text" name="guaranteemoney" th:value="${data.guaranteemoney}" style="width: 120px;height:15px;outline:none; border-radius:5px;">
        <a href="javascript:void(0)" th:onclick="|kcbzj(${data.userid})|" >扣除保证金</a></TD>
		  </TR> 
			<TR>
            <TD noWrap align=right>服务类别:</TD>
            <TD colspan="3" >
            <span th:if="${data.firstserviceid==1}">韩语翻译,</span>
            <span th:if="${data.firstserviceid==2}">自驾游,</span>
            <span th:if="${data.firstserviceid==3}">学习资料,</span>
            <span th:if="${data.firstserviceid==4}">微整形,</span>
            <span th:if="${data.firstserviceid==5}">留学中介,</span>
            
            <span th:if="${data.secondserviceid==1}">韩语翻译</span>
            <span th:if="${data.secondserviceid==2}">自驾游</span>
            <span th:if="${data.secondserviceid==3}">学习资料</span>
            <span th:if="${data.secondserviceid==4}">微整形</span>
            <span th:if="${data.secondserviceid==5}">留学中介</span>
            	</TD>
          </TR>
          <TR>  
			  <TD noWrap align=right>身份证:</TD>
			  <TD colspan="3" th:text="${data.identitynumder}"></TD>
		  </TR>
          			<TR>
			  <TD noWrap align=right>证件正面:</TD>
			  <TD ><a href="/Uploads/image/2018-10/20181007110441-39145.jpg" target="_blank"><img src="/Uploads/image/2018-10/20181007110441-39145.jpg" width="150" /></a></TD>
			  <TD align="right">证件反面:</TD>
			  <TD ><a href="/Uploads/image/2018-10/20181007110444-67273.jpg" target="_blank"><img src="/Uploads/image/2018-10/20181007110444-67273.jpg" width="150" /></a></TD>
	      </TR>
			<TR>
			  <TD noWrap align=right>手持证件照:</TD>
			  <TD >
              <a href="/Uploads/image/2018-10/20181007110446-52503.jpg" target="_blank"><img src="/Uploads/image/2018-10/20181007110446-52503.jpg" width="150" /></a>
              </TD>
			  <TD align="right">服务语言:</TD>
			  <TD th:text="${data.languagenametext}">韩语</TD>
		  </TR>
			<TR>
			  <TD noWrap align=right>擅长专业:</TD>
			  <TD th:text="${data.majornametext}">
            	 </TD>
			  <TD align="right">所在城市:</TD>
			  <TD th:text="${data.livecityid}">首尔特别市</TD>
		  </TR>
			<TR>
			  <TD noWrap align=right>QQ:</TD>
			  <TD th:text="${data.qq}"></TD>
			  <TD align="right">微信:</TD>
			  <TD th:text="${data.wechat}"></TD>
		  </TR>
			<TR>
			  <TD noWrap align=right>职业:</TD>
			  <TD ></TD>
			  <TD align="right">身高:</TD>
			  <TD >[[${data.height}]]CM</TD>
		  </TR>
			<TR>
			  <TD noWrap align=right>星座:</TD>
			  <TD th:text="${data.constellation}">白羊座</TD>
			  <TD align="right">年龄:</TD>
			  <TD th:text="${data.age}">0</TD>
		  </TR>
			<TR>
			  <TD noWrap align=right>自我介绍:</TD>
			  <TD colspan="3" th:text="${data.selfintroduction}">qwe</TD>
		  </TR>
          <TR>
            <TD align="right">店铺免费体验:</TD>
            <!--<td ><INPUT  type="radio" name="SHOP_FREE_STATUS" class="input-heigt" value="1"  >是-->
            <!--&nbsp;&nbsp;&nbsp;<INPUT type="radio" name="SHOP_FREE_STATUS" class="input-heigt" value="0" checked >否-->
            <!--</td>-->
            <td >否            </td>
            <td align="right" noWrap>店铺免费体验月数：</td>
            <td  >
              <select id="free_time" name="free_time" class="input-heigt" style="width: 120px;height:20px;outline:none; border-radius:5px;">
                <option value="1"> 1</option>
                <option value="2"> 2</option>
                <option value="3"> 3</option>
                <option value="4"> 4</option>
                <option value="5"> 5</option>
                <option value="6"> 6</option>
                <option value="7"> 7</option>
                <option value="8"> 8</option>
                <option value="9"> 9</option>
                <option value="10"> 10</option>
                <option value="11"> 11</option>
                <option value="12"> 12</option>
              </select>
            </td>
          </tr>

          <TR style="display:;">
            <TD noWrap align=right>店铺状态:</TD>
            <TD colspan="3" >
              <label>
                <input name="businessstate" type="radio" value="1" id="kai" >开启</label>
              <label>
                <input type="radio" name="businessstate" value="2" id="zan" >暂停</label>
              <label>
                <input type="radio" name="businessstate" value="3" id="guan" >关闭</label>
            </TD>
            <!--<TD align="right">&nbsp;</TD>-->
            <!--<TD >&nbsp;</TD>-->
          </TR>

          <TR style="display:;">
            <TD noWrap align=right>店铺关闭理由:</TD>
            <TD colspan="3" align="left">
              <textarea  rows="2" name="stopreason" cols="100%" style="width: 650px;height:30px;outline:none; border-radius:5px;">
                   [[${data.reason}]]          </textarea>
            </TD>
          </TR>

        </TBODY>
      </TABLE>      <TABLE border=0 cellSpacing=1 cellPadding=6 width="100%" class="tablesorter">
        <TBODY>
			<TR>
            <TD width="18%" align=right noWrap> 注册时间:</TD>
            <TD  width="32%" th:text="${#dates.format(data.userregistrationtime,'yyyy-MM-dd HH:mm')}">
            2018-10-07 10:25            </TD>
            <TD  width="18%" align="right">注册 IP:</TD>
            <TD  width="32%" >43.250.200.107</TD>
          </TR>
          <TR>
            <TD noWrap align=right>最后登录时间:</TD>
            <TD  th:text="${#dates.format(data.recententry,'yyyy-MM-dd HH:mm')}">
              2018-10-11 22:33            </TD>
            <TD align="right">最后登录IP:</TD>
            <TD ></TD>
          </TR>
          <TR>
		  <TR style="display:;">
			  <TD noWrap align=right>资料审核:</TD>
			  <TD >
              <label>
                <input name="auditstatus" type="radio" id="tg" value="2" >已通过审核</label>
              <label>
                <input type="radio" name="auditstatus" value="3" id="bg" >未通过审核</label></TD>
            <TD noWrap align=right>邮箱验证:</TD>
            <TD >
              <label>
                <input name="mailboxverification" type="radio" id="em_tg" value="1" >已通过验证</label>
              <label>
                <input type="radio" name="mailboxverification" value="0" id="em_bg" >未通过验证</label>
            </TD>
		  </TR>
			<tr>
            <TD><input type="hidden" name="userid" th:value="${data.userid}"></TD>
            <TD colspan="3" >
              <INPUT id=button3 value="   保存     " type=submit name=button3 class="button white">　
              <INPUT class="button white" id="add" value="返回" type=button name="add" onClick="history.go(-1)">
            </TD>
          </tr>
        </tbody>
      </table>
    </form>
    <p>&nbsp;</p>
  </div>
  
</div>
<script src="../js/jquery-1.12.4.js"></script>

<script type="text/javascript">

$(function(){
	
	if([[${data.usersex}]]==1){
		$("#nan").attr("checked","checked");
	}else{
		$("#nv").attr("checked","checked");
	}
	
	if([[${data.auditstatus}]]==2){
		$("#tg").attr("checked","checked");
	}else{
		$("#bg").attr("checked","checked");
	}
	
	if([[${data.mailboxverification}]]==true){
		$("#em_tg").attr("checked","checked");
	}else{
		$("#em_bg").attr("checked","checked");
	}
	
	if([[${data.businessstate}]]==1){
		$("#kai").attr("checked","checked");
	}else if([[${data.businessstate}]]==2){
		$("#zan").attr("checked","checked");
	}else{
		$("#guan").attr("checked","checked");
	}

});


  function kcbzj(id){
     var  val = $('#kbzj').val();
    if(!val){
      alert('请填写扣除金额！');
      return false;
    }
      if(confirm("你是否要扣除保证金?"))
      {
                 $.post("/gsh/delMoney",{userID:id,money:0},function(json)
                 {
                    if(json.code=="200")
                    {
                        alert(json.msg);
                        location.href="/gsh/queryVipByID?userID="+id;
                    }
                   if(json.status=="500")
                    {
                       alert("扣除失败");
                    }
                 },"json");

      }else
      {
                        return false;
      }
  }
</script>
</body>
</html>