
 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
		 <meta charset="UTF-8">
		 <link href="/css/public.css" rel="stylesheet">
		 <title>会员信息</title>
</head>

<body class="oneColLiqCtrHdr">
<div id=container>
  <div id="header">
    <H3>会员信息</H3>
  </DIV>
  <DIV id="mainContent"><BR>
    <form action="/lt/updateVip" method="POST" class="table" enctype="multipart/form-data" name="form1" id="form10">
      <TABLE border=0 cellSpacing=1 cellPadding=6 width="100%" class="tablesorter">
        <TBODY>
          <TR>
            <TD width="18%" align=right noWrap><strong>会员组:</strong></TD>
            <TD  width="32%" noWrap>
               <span th:if="${data.merchantType==0}">普通用户</span> <span
								th:if="${data.merchantType==1}">大陆商家用户</span>
								<span
								th:if="${data.merchantType==2}">海外商家用户</span>
            </TD>
            <TD width="18%" noWrap align=right>&nbsp;</TD>
            <TD width="32%" noWrap>&nbsp;</TD>
          </TR>
          <TR>
            <TD  align=right noWrap>用户名:</TD>
            <TD th:text="${data.userName}">咯</TD>
            <TD  align=right>密码:</TD>
            <TD  ><input id="password" style="width: 120px;height:20px;outline:none; border-radius:5px;" size=20 type="password" name="userPwd" th:value="${data.userPwd}"></TD>
          </TR>
          <TR>
            <TD align=right noWrap>手机:</TD>
            <TD ><input name="userPhone" style="width: 120px;height:20px;outline:none; border-radius:5px;"  type="text" class="" id="mobile" th:value="${data.userPhone}" maxlength="13"></TD>
            <TD align=right>邮箱:</TD>
            <TD th:text="${data.userEmail}">			<!--
			<input name="email" type="text" id="email" value="" size=40  class="validate[required,custom[email]]">
			-->
			</TD>
          </TR>
          <TR>
            <TD align=right>真实姓名:</TD>
            <TD ><input name="userRealName" style="width: 120px;height:20px;outline:none; border-radius:5px;" type="text" id="truename" th:value="${data.userRealName}" size=20  class=""></TD>
            <TD align=right>性别:</TD>
            <TD >
              <label>
                <input name="userSex" type="radio" value="1" id="check_nan">男</label>
              <label>
                <input type="radio" name="userSex" value="2" id="check_nv" >女</label>
            </TD>
          </TR>
          <TR>
            <TD align=right>住址:</TD>
            <TD colspan="3"><select class="sel_f sel_f2 sel_b2" style="width: 120px;height:20px;outline:none; border-radius:5px;" name="countryid" onChange="setarea(this.value, 'shengid')">
					<option value="399" >中国</option><option value="400" >韩国</option><option value="1023" >测试地址</option>				</select>
				<select class="sel_f sel_f2 sel_b2" style="width: 120px;height:20px;outline:none; border-radius:5px;" name="shengid" id="shengid" onChange="setarea(this.value, 'areaid')">
					<option value="0">省</option>
									</select>
			  <select class="sel_f sel_f2 sel_b2" style="width: 120px;height:20px;outline:none; border-radius:5px;"	 name="areaid" id="areaid"  >
					<option value="0">市</option>
                    			  </select>
				<input name="address" style="width: 150px;height:15px; outline:none; border-radius:5px;"  type="text" class="input_c inf_inc" id="address" th:value="${data.adDetail}" size="50"  />
            </TD>
          </TR>	
        </tbody>
      </table>
	        <TABLE border=0 cellSpacing=1 cellPadding=6 width="100%" class="tablesorter">
        <TBODY>
			<TR>
            <TD width="18%" align=right noWrap> 注册时间:</TD>
            <TD  width="32%">
            2018-10-10 10:47            </TD>
            <TD  width="18%" align="right">注册 IP:</TD>
            <TD  width="32%" >43.250.200.63</TD>
          </TR>
          <TR>
            <TD noWrap align=right>最后登录时间:</TD>
            <TD th:text="${#dates.format(data.recentEntry,'yyyy-MM-dd HH:mm')}">
              2018-10-10 12:10            </TD>
            <TD align="right">最后登录IP:</TD>
            <TD ></TD>
          </TR>
          <TR>
		  <TR style="display:;">
			  <TD noWrap align=right>资料审核:</TD>
			  <TD >
              <label>
                <input name="auditStatus" type="radio" id="check_zlg" value="2">已通过审核</label>
              <label>
                <input type="radio" name="auditStatus" value="3" id="check_zln" >未通过审核</label></TD>
            <TD noWrap align=right>邮箱验证:</TD>
            <TD >
              <label>
                <input name="mailboxVerification" type="radio" id="check_yxg" value="1" >已通过验证</label>
              <label>
                <input type="radio" name="mailboxVerification" value="0" id="check_yxn">未通过验证</label>
            </TD>
		  </TR>
			<TR>
            <TD><input type="hidden" name="userID" th:value="${data.userID}"></TD>
            <TD colspan="3" >
              <INPUT value="保存 " type=submit name=button3 class="ys">　
              <INPUT class="ys" id="add" value="返回" type=button name="add" onClick="history.go(-1)">
            </TD>
          </TR>
        </tbody>
      </table>
    	</form>
    <p>&nbsp;</p>
  </div>
  
</div>
<script src="../js/jquery-1.12.4.js"></script>
<script type="text/javascript">
	$(function(){ 
		
		if([[${data.userSex}]]==1){
			$("#check_nan").attr("checked","checked");
		}else{
			$("#check_nv").attr("checked","checked");
		}
		
		if([[${data.auditStatus}]]==2){
			$("#check_zlg").attr("checked","checked");
		}else if([[${data.auditStatus}]]==3){
			$("#check_zln").attr("checked","checked");
		}
		
		if([[${data.mailboxVerification}]]==true){
			$("#check_yxg").attr("checked","checked");
		}else{
			$("#check_yxn").attr("checked","checked");
		}
		
	});
</script>

</body>
</html>