<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="/css/public.css" rel="stylesheet">
		<title>充值记录</title>
	</head>

<BODY class=oneColLiqCtrHdr>
<DIV id=container>
    <DIV id=header>
        <H1>
				充值记录<BR>
		</H1>
                        <form method="post" name="searchform" action="">
            <TABLE border=0 class="tablesorter" cellSpacing=1 cellPadding=6 width="100%">
                <TBODY>
                <TR>
                    <TD >
                    用户名:<input name="name" type="text" id="name" size="15" maxlength="20" style="width: 120px;height:15px;outline:none; border-radius:5px;">
                    充值来源:
                    <select name="payment_type"style="width: 120px;height:20px;outline:none; border-radius:5px;">
                        <option value="">全部</option>
                        <option value="3">线下</option>
                        <option value="1">支付宝</option>
                    </select>
                  <input type="submit" name="button" id="button" value="搜索">
				  <input type="hidden" name="type" value="1" />
				  <input type="hidden" name="umid" value="" />
				  </TD>
                    
                    <TD >&nbsp;</TD>
                </TR>
                </TBODY>
            </TABLE>
        <input type="hidden" name="__hash__" value="19f7c5c7da108a000fd387a9dcf6a0f5_a330a66ca64c79c821be7d7fae633eb3" /></form>
    </DIV>
    <DIV id="mainContent"><BR>
        <FORM method=post name=form2 action="" id="listform">
            <TABLE id="itemlist" class="table" border=0 cellSpacing=1 cellPadding=6 width="100%">
                <THEAD>
                <TR>
                    <th width="80">序号</th>
                    <TH width="80" scope=col align=center>用户</TH>
                                        <TH width="80" scope=col align=center>类型</TH>
                    <TH width="80" scope=col align=center>获取方式</TH>
                    <TH width="80" align=center>消费</TH>
                    <TH width="80" align=center>获得</TH>
                    <TH width="80" align=center>状态</TH>
                    <TH width="80" align=center>备注</TH>
                    <TH width="90"  scope=col >消费时间</TH>
                    <TH align="center" width="90"  scope=col>操作</TH>
                </TR>
                </THEAD>
                <tbody>
                    <tr>
                        <td align="center">
                        1                        <input value="" type="checkbox" name="favid[]" style="display:none;">                        
                        </td>
                        <td align="center" nowrap><a href="/index.php/Admincp/user/edit/name/%E5%B0%A7%E5%B0%A7/id/298.html" target="_blank">尧尧</a></td>
                        <td align="center" nowrap>金币</td>
                        <td align="center" nowrap>充值</td>
                        <td align="center" nowrap>
                                                -                        </td>
                        <td align="center" nowrap>
                        +100000.00                                                </td>
						<td align="center" nowrap>
                        <font color="red">待审核</font>                        </td>
                        <td align="center" nowrap>充值金币</td>
                        <td  nowrap>2018-10-07 09:50</td>

                        <td nowrap >
												</tr>
                    </tbody><tbody>
                    <tr>
                        <td align="center">
                        2                        <input value="" type="checkbox" name="favid[]" style="display:none;">                        
                        </td>
                        <td align="center" nowrap><a href="/index.php/Admincp/user/edit/name/%E5%8D%83%E7%95%94/id/299.html" target="_blank">千畔</a></td>
                        <td align="center" nowrap>金币</td>
                        <td align="center" nowrap>线下充值</td>
                        <td align="center" nowrap>
                                                -                        </td>
                        <td align="center" nowrap>
                        +1000000000.00                                                </td>
						<td align="center" nowrap>
                        <font color="red">待审核</font>                        </td>
                        <td align="center" nowrap>线下充值</td>
                        <td  nowrap>2018-09-22 16:24</td>

                        <td nowrap align="center" >
						<a href="/index.php/Admincp/User/rechargemoneyinfo/id/3952.html">查看</a></td>						</tr>
                    </tbody><tbody>
                    <tr>
                        <td align="center">
                        3                        <input value="" type="checkbox" name="favid[]" style="display:none;">                        
                        </td>
                        <td align="center" nowrap><a href="/index.php/Admincp/user/edit/name/%E8%BF%B7%E8%8C%AB/id/309.html" target="_blank">迷茫</a></td>
                        <td align="center" nowrap>金币</td>
                        <td align="center" nowrap>充值</td>
                        <td align="center" nowrap>
                                                -                        </td>
                        <td align="center" nowrap>
                        +1000000000.00                                                </td>
						<td align="center" nowrap>
                        <font color="red">待审核</font>                        </td>
                        <td align="center" nowrap>充值金币</td>
                        <td  nowrap>2018-09-22 16:24</td>

                        <td nowrap >
												</tr>
                    </tbody>             </TABLE>
            <TABLE id="itemlist" class="tablesorter" border=0 cellSpacing=1 cellPadding=6 width="100%">
                <TR>
                    <TH><div class="digg"><div>  <span class="current">1</span><a class="num" href="/index.php/Admincp/User/rechargelogs/p/2.html">2</a><a class="num" href="/index.php/Admincp/User/rechargelogs/p/3.html">3</a><a class="num" href="/index.php/Admincp/User/rechargelogs/p/4.html">4</a><a class="num" href="/index.php/Admincp/User/rechargelogs/p/5.html">5</a><a class="num" href="/index.php/Admincp/User/rechargelogs/p/6.html">6</a><a class="num" href="/index.php/Admincp/User/rechargelogs/p/7.html">7</a><a class="num" href="/index.php/Admincp/User/rechargelogs/p/8.html">8</a><a class="num" href="/index.php/Admincp/User/rechargelogs/p/9.html">9</a><a class="num" href="/index.php/Admincp/User/rechargelogs/p/10.html">10</a><a class="num" href="/index.php/Admincp/User/rechargelogs/p/11.html">11</a> <a class="next" href="/index.php/Admincp/User/rechargelogs/p/2.html">下一页</a> <a class="end" href="/index.php/Admincp/User/rechargelogs/p/106.html">106</a></div></div></TH>
              </TR>

          </TABLE>
</FORM>
        <H4>&nbsp;</H4><!-- end #mainContent --></DIV>
        <DIV id=footer>
        <P>&nbsp;</P><!-- end #footer --></DIV><!-- end #container --></DIV></BODY>
</html>
