* {
	color: white;
}

.my-side {
	background: #292018;
}

header {
	position: fixed;
	top: 0px;
	z-index: 10000;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: #292018;
}

.topNav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	cursor: pointer;
	background: #292018;
}


/*顶部右侧*/

.topNav li {
	margin: 0 10px;
	padding: 0 20px;
}

.topNav li:hover {
	background: rgba(148,120,92,0.5);
	color: white;
}


/*顶部颜色菜单*/

.navc {
	text-align: center;
	cursor: pointer;
	background: #292018;
}

.navc dd:hover {
	background: #94785C;
	color: white;
}

	

/*左菜单标题*/

.navItem {
	background: #292018;
}

.navItem_a:hover {
	background: #94785C !important;
}


#myToggle{
	background: rgba(148,120,92,0.8);
}

/*标题中的内容*/

.navItem dd:hover {
	background: #94785C;
}


/*左菜单点击重构*/

.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this>a,
.layui-nav-tree .layui-this>a:hover {
	background-color: #94785C !important;
}


.layui-tab-bar {
    background: #292018;
}