* {
	color: white;
}

.my-side {
	background: #AA3130;
}

header {
	position: fixed;
	top: 0px;
	z-index: 10000;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: #AA3130;
}

.topNav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	cursor: pointer;
	background: #AA3130;
}


/*顶部右侧*/

.topNav li {
	margin: 0 10px;
	padding: 0 20px;
}

.topNav li:hover {
	background: rgba(199,27,25, 0.7);
	color: white;
}


/*顶部颜色菜单*/

.navc {
	text-align: center;
	cursor: pointer;
	background: #AA3130;
}

.navc dd:hover {
	background: #C71B19;
	color: white;
}


/*左菜单标题*/

.navItem {
	background: #A32B29;
}

.navItem_a:hover {
	background: #C71B19 !important;
}

#myToggle {
	background: rgba(199,27,25, 0.8);
}


/*标题中的内容*/

.navItem dd:hover {
	background: #C71B19;
}


/*左菜单点击重构*/

.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this>a,
.layui-nav-tree .layui-this>a:hover {
	background-color: #C71B19 !important;
}

.layui-tab-bar {
    background: #AA3130;
}